.add-category-main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(5, 5, 5, 0.141);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-category-main .add-category {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: #dbe2ef;
  height: 400px;
  width: 600px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
}
.add-category-main .add-category .close {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: flex-end;
  font-size: 42px;
}
.add-category .close .close-icon {
  cursor: pointer;
}
.add-category-main .add-category button {
  width: 400px;
}
.add-category .dropdown ul li {
  font-size: 18px;
  font-weight: 500;
}
.add-category .dropdown-menu {
  width: 100%;
  border-radius: 0px 0px 9px 9px;
  padding: 10px;
  cursor: pointer;
}
.add-category .form-outline input {
  height: 50px;
  width: 400px;
}
.add-category .form-outline {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-category .main-category button,
.add-category .sub-category button {
  height: 50px;
  width: 200px;
  background-color: #112d4e;
}
.add-category .main-category,
.add-category .sub-category {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
